<% content_for :title, "Editing access group" %>

<h1>Editing access group</h1>

<%= render "form", access_group: @access_group %>

<br>

<div>
  <%= link_to "Show this access group", @access_group %> |
  <%= link_to "Back to access groups", access_groups_path %>
</div>
