<% content_for :title, "New access group" %>

<h1>New access group</h1>

<%= render "form", access_group: @access_group %>

<br>

<div>
  <%= link_to "Back to access groups", access_groups_path %>
</div>
